.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
}

label {
    display: block;
    margin-bottom: 5px;
}

.form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #ffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add a subtle box shadow */
    border-radius: 15px;
    width: 60%;
    padding: 0 10px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    width: 90%;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    width: 50%;
    justify-content: center;
    margin: 10px;
}

.form-submit {
    display: flex;
    flex-direction: row;
}

.info-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #c1c1;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add a subtle box shadow */
    background-color: #ffff;
}

.form-fields {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    justify-content: left;
    flex-wrap: wrap;
    width: 100%;
}

.text-password {
    width: 100%;
    text-align: left;
    color: #878787;
    font-size: 12px;
    margin: 0px;
}

.text-password-error {
    width: 100%;
    text-align: left;
    color: #ff0000;
    font-size: 12px;
    margin: 0px;
}

.text-password-good {
    width: 100%;
    text-align: left;
    color: #31f500;
    font-size: 12px;
    margin: 0px;
}

.list-requirements {
    width: 100%;
    color: #878787;
    margin-top: 0px;
    margin-bottom: 20px;
}

.form-connexion {
    flex-direction: column;
    margin: 10px 10px;
    width: 100%;
    justify-content: center;
}

.password-requirements {
    color: #878787;
    font-size: 0.7rem;
    max-width: 90%;
}
/**
Reste à mettre ça responsive :wink:
(Faudrait changer le flex-direction du parent pour column sur tel)

- W

*/
.password-validation-showcase {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    gap: 25%;
    left: 10%;
    margin-top: 3%;
    width: 100%;
}

@media screen and (max-width: 900px) and (min-width: 300px) {
    .form-register {
        width: 85%;
    }

    .container > h1 {
        margin-bottom: 13px;
        margin-top: 13px;
    }

    .form-inputs {
        margin-left: 6%;
        margin-right: 6%;
        width: 100%;
    }

    .input-basic {
        max-width: 85%;
    }

    .password-requirements {
        color: #878787;
        font-size: 0.7rem;
    }

    ul {
        padding-left: 10%;
        min-width: 20%;
    }
}
